# Contains all libraries that are needed for this project

# Data manipulation and analysis
pandas == 2.3.3
numpy == 2.3.3

# Visualization
#matplotlib
#seaborn
#plotly

# Machine learning
scikit-learn==1.7.2
xgboost==3.0.5
# lightgbm
# catboost

# Deep learning
# tensorflow
# keras
# torch
# torchvision

# Data processing
# scipy

# Jupyter support
jupyter == 1.1.1
notebook == 7.4.7

# Model evaluation
# statsmodels

# Utilities
# tqdm

# Optional: Data connectors
# sqlalchemy
# openpyxl

# fastapi dependencies
fastapi == 0.119.0
fastapi[standard]
uvicorn == 0.37.0
pydantic == 2.12.0
jinja2 == 3.1.6